
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #616161;
}
header{
    width:100%;
    height:auto;
}
.search-bar-container{
    width: 100%;
    margin: 0;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 10px 20px;
}
.search-bar-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background: var(--grey-g-200, #303030);
    height: 40px;
    width: 400px;
    border: 1px solid var(--stroke-s-200, #616161);
    border-radius: 8px;
}
.search-bar-wrapper:hover {
    border-radius: 8px;
    border: 1px solid var(--stroke-s-100, #E1E1E1);
    background: var(--grey-g-200, #303030);
}

.search-bar-wrapper:focus:active {
    border-radius: 8px;
    border: 2px solid var(--White, #FFF);
    background: var(--grey-g-200, #303030);
}

.search-bar-wrapper input{
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    width:80%;
    font-weight: 100px;
    color: #E1E1E1;
}
.search-bar-wrapper button{
    background-color: transparent;
    border: none;
    outline: none;
}
.search-bar-wrapper button .icon{
    cursor: pointer;
    font-size: 20px;
    color: #616161;
}
.search-bar-wrapper button .icon:hover{
    color: #E1E1E1;
}
main{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 20px;
}
main main-wrapper{
    max-width: calc(100% / 3 -5px);
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 25px;
    background: var(--grey-g-200, #303030);
    box-shadow: rgb(0, 0, 0) 0px 25px 20px -20px;
}

main main-wrapper:hover {
    transition: 2ms;
    box-shadow: rgb(0, 0, 0) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: var(--grey-g-200, #303030);
}

main main-wrapper:focus:active {
    box-shadow: rgb(0, 0, 0) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: var(--grey-g-200, #303030);
}
main-wrapper img{
    width: 100%;
    height: 250px;
    object-fit: cover;
} 
main-wrapper p{
    padding:10px 10px;
}
main-wrapper a{
    padding:10px 10px;
    text-align: center;
}

main-wrapper audio{
    margin: 10px 0;
    padding: 5px 5px;
    width: 100%;
}
audio::-webkit-media-controls-panel {
    background-color:#616161 ;
  }
  
  audio::-webkit-media-controls-play-button {
    background-color: #fff;
    border-radius: 50%;
  }
  
  audio::-webkit-media-controls-play-button:hover {
    background-color: #E1E1E1;
  }
  audio::-webkit-media-controls-current-time-display {
    color: #fff;
  }
  audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
  }

/* Add this to the bottom of your CSS file */

@media (max-width: 768px) {
    .search-bar-container {
         flex-direction: column;
         align-items: center;
     }
    .search-bar-wrapper {
         width: 100%;
         margin-bottom: 10px;
     }
     main main-wrapper {
         width: 100%;
         margin-bottom: 20px;
     }
 }
 
 @media (max-width: 480px) {
    .search-bar-wrapper {
         height: 60px;
     }
    .search-bar-wrapper input {
         width: 70%;
     }
     main main-wrapper {
         width: 100%;
         margin-bottom: 20px;
     }
 }